/**
 * Colorbox Custom Style:
 */
/* line 29, colorbox.scss */
#colorbox {
  top: 10%;
}

/* line 33, colorbox.scss */
#colorbox,
#cboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 42, colorbox.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 47, colorbox.scss */
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

/* line 51, colorbox.scss */
#cboxContent {
  position: relative;
  float: unset;
  width: 100%;
  height: unset;
  margin-right: 0;
  padding: 2em;
  border-radius: 16px;
  box-sizing: border-box;
}

/* line 63, colorbox.scss */
#cboxLoadedContent {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 67, colorbox.scss */
#cboxTitle {
  margin: 0;
}

/* line 70, colorbox.scss */
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
  * These elements are buttons, and may need to have additional
  * styles reset to avoid unwanted base styles.
  */
/* line 82, colorbox.scss */
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
  cursor: pointer;
}

/**
  * Avoid outlines on :active (mouseclick),
  * but preserve outlines on :focus (tabbed navigating)
  */
/* line 98, colorbox.scss */
#cboxPrevious:active,
#cboxNext:active,
#cboxClose:active,
#cboxSlideshow:active {
  outline: 0;
}

/* line 104, colorbox.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* line 112, colorbox.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/* Reset box sizing to content-box if theme is using border-box. */
/* line 119, colorbox.scss */
#colorbox,
#cboxLoadedContent {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 126, colorbox.scss */
#cboxOverlay {
  background: #000;
}

/* line 129, colorbox.scss */
#colorbox {
  outline: 0;
}

/* line 133, colorbox.scss */
#cboxTitle {
  display: none;
}

/* line 137, colorbox.scss */
#cboxTopLeft {
  width: 15px;
  height: 15px;
  display: none;
}

/* line 142, colorbox.scss */
#cboxTopCenter {
  height: 15px;
  display: none;
}

/* line 146, colorbox.scss */
#cboxTopRight {
  width: 15px;
  height: 15px;
  display: none;
}

/* line 151, colorbox.scss */
#cboxBottomLeft {
  width: 15px;
  height: 10px;
  display: none;
}

/* line 156, colorbox.scss */
#cboxBottomCenter {
  height: 10px;
  display: none;
}

/* line 160, colorbox.scss */
#cboxBottomRight {
  width: 15px;
  height: 10px;
  display: none;
}

/* line 165, colorbox.scss */
#cboxMiddleLeft {
  width: 15px;
  display: none;
}

/* line 169, colorbox.scss */
#cboxMiddleRight {
  width: 15px;
  display: none;
}

/* line 173, colorbox.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* line 177, colorbox.scss */
#cboxLoadedContent {
  margin-bottom: 28px;
  padding: 0;
}
/* line 183, colorbox.scss */
#cboxLoadedContent button[id^="edit-submit"] {
  padding: unset;
}
/* line 189, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form .form-item-logo-text {
  padding: 1.5em 0em;
}
/* line 191, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form .form-item-logo-text label {
  font-weight: bold;
}
/* line 195, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form .form-item-url {
  padding-top: 1em;
}
/* line 197, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form .form-item-url label {
  font-weight: bold;
}
/* line 202, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form #edit-file-upload-button {
  border-radius: 0.3em;
  padding: 0.5em 1.5em;
  font-weight: bold;
  border: none;
  background-color: #418bc2;
}
/* line 12, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form #edit-file-upload-button .glyphicon {
  display: none;
}
/* line 207, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form button[id^="edit-file-remove-button"] {
  border-radius: 0.3em;
  padding: 0.5em 1.5em;
  font-weight: bold;
  border: none;
  background-color: #de5148;
}
/* line 12, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form button[id^="edit-file-remove-button"] .glyphicon {
  display: none;
}
/* line 214, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form #edit-file-upload .form-control {
  box-shadow: none;
  padding: 0.5em 0em;
  background: transparent;
}
/* line 221, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form hr {
  display: none;
}
/* line 224, colorbox.scss */
#cboxLoadedContent #isd_add_logo_form h1 {
  margin-top: 0;
}
/* line 232, colorbox.scss */
#cboxLoadedContent #isd_video_form button[id^="edit-submit"] {
  border: none;
  border-radius: 0.3em;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 120px;
  width: 90px;
  height: 35px;
  margin: 1em;
  font-weight: bold;
}
/* line 235, colorbox.scss */
#cboxLoadedContent #isd_video_form .form-item-custom-source {
  padding-top: 1em;
}
/* line 240, colorbox.scss */
#cboxLoadedContent #isd_video_form #isd-video-form h3 {
  margin-top: 0;
}
/* line 248, colorbox.scss */
#cboxLoadedContent #isd_questions_form {
  padding: 0;
}
/* line 250, colorbox.scss */
#cboxLoadedContent #isd_questions_form button[id^="edit-next"] {
  border: none;
  border-radius: 0.3em;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 120px;
  width: 90px;
  height: 35px;
  margin: 1em;
  font-weight: bold;
}
/* line 253, colorbox.scss */
#cboxLoadedContent #isd_questions_form h1 {
  margin-top: 0;
}
/* line 257, colorbox.scss */
#cboxLoadedContent #isd_questions_form .form-item-question-amount, #cboxLoadedContent #isd_questions_form .form-item-percentage-required {
  padding-top: 1em;
}
/* line 264, colorbox.scss */
#cboxLoadedContent #isd_agreement_text_form button[id^="edit-submit"] {
  border: none;
  border-radius: 0.3em;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 120px;
  width: 90px;
  height: 35px;
  margin: 1em;
  font-weight: bold;
}
/* line 267, colorbox.scss */
#cboxLoadedContent #isd_agreement_text_form #edit-signature-option {
  padding-top: 1em;
}
/* line 270, colorbox.scss */
#cboxLoadedContent #isd_agreement_text_form hr {
  display: none;
}
/* line 274, colorbox.scss */
#cboxLoadedContent #isd_agreement_text_form h5 {
  font-size: 36px;
  margin-top: 0;
}

/* line 280, colorbox.scss */
#cboxTitle {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  bottom: 28px;
  left: 0;
  color: #535353;
  width: 100%;
  padding: 4px 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 292, colorbox.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 60px;
  color: #949494;
}

/* line 298, colorbox.scss */
.cboxSlideshow_on #cboxSlideshow {
  position: absolute;
  bottom: 0px;
  right: 30px;
  background: url(images/controls.png) no-repeat -75px -50px;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 307, colorbox.scss */
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -101px -50px;
}

/* line 310, colorbox.scss */
.cboxSlideshow_off #cboxSlideshow {
  position: absolute;
  bottom: 0px;
  right: 30px;
  background: url(images/controls.png) no-repeat -25px -50px;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 319, colorbox.scss */
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -49px -50px;
}

/* line 322, colorbox.scss */
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(images/controls.png) no-repeat -75px 0px;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 331, colorbox.scss */
#cboxPrevious:hover {
  background-position: -75px -25px;
}

/* line 334, colorbox.scss */
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  width: 25px;
  height: 25px;
}

/* line 341, colorbox.scss */
#cboxNext:hover {
  background-position: -50px -25px;
}

/* line 344, colorbox.scss */
#cboxLoadingOverlay {
  background: transparent;
}

/* line 348, colorbox.scss */
#cboxLoadingGraphic {
  background: url(images/loading_animation.gif) no-repeat center center;
}

/* line 351, colorbox.scss */
#cboxClose {
  display: block;
  overflow: hidden;
  font-size: 0;
}
/* line 355, colorbox.scss */
#cboxClose::before {
  display: inline;
  content: "\2715";
  font-size: 30px;
  position: absolute;
  right: 16px;
  top: 16px;
}
/* line 363, colorbox.scss */
#cboxClose:hover {
  opacity: 0.7;
}

/* line 379, colorbox.scss */
.colorbox-submit-btn {
  position: absolute;
  bottom: 10px;
  right: 120px;
  width: 90px;
  height: 35px;
  margin: 1em;
  font-weight: bold;
}

/* line 389, colorbox.scss */
#cboxClose:hover {
  background-position: -25px -25px;
}

/* line 394, colorbox.scss */
#cboxWrapper {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 12px;
  background: #e8e8e8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
/* line 406, colorbox.scss */
#cboxWrapper ::-webkit-scrollbar {
  display: none;
}
/* line 411, colorbox.scss */
#cboxWrapper ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* line 416, colorbox.scss */
#cboxWrapper ::-webkit-scrollbar-thumb {
  background: #888;
}
/* line 421, colorbox.scss */
#cboxWrapper ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* line 425, colorbox.scss */
#cboxWrapper .cboxButtonGroup {
  display: flex;
  justify-content: flex-end;
  margin: 0 -12px;
}
/* line 431, colorbox.scss */
#cboxWrapper .cboxButtonGroup a[data-type="button"] {
  padding: 8px 12px;
  color: #fff;
  border-radius: 4px;
  min-width: 120px;
  text-align: center;
  margin: 0 12px;
  min-height: 18px;
}
/* line 440, colorbox.scss */
#cboxWrapper .cboxButtonGroup a[data-type="button"]:hover {
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
}
